<ody>
<head>
 <img src="{{url_for('static', filename='lib.jpg')}}" />
<meta content="en-gb" http-equiv="Content-Language">
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: x-large;
}
.auto-style3 {
	text-align: center;
	font-size: xx-large;
}
.auto-style4 {
	font-style: italic;
}
.auto-style5 {
	background-color: #1500FF;
}
.auto-style6 {
	background-color: #FFFF00;
}
</style>
</head>
<body>

 <form action = "{{ url_for('select') }}" method = "POST">
<center>
<p class="auto-style1">
<p class="auto-style1">&nbsp;</p>
<p class="auto-style3"><em><strong><span class="auto-style5">&nbsp;L </span>
<span class="auto-style6">&nbsp;o </span><span class="auto-style5">&nbsp;g
</span><span class="auto-style6">&nbsp; i&nbsp; </span>
<span class="auto-style5">n </span>&nbsp;&nbsp;&nbsp; <span class="auto-style5">&nbsp;t
</span><span class="auto-style6">&nbsp;o </span>&nbsp;&nbsp;&nbsp;
<span class="auto-style5">&nbsp;c </span><span class="auto-style6">&nbsp;o
</span><span class="auto-style5">&nbsp;n </span><span class="auto-style6">&nbsp;t
</span><span class="auto-style5">&nbsp;i </span><span class="auto-style6">&nbsp;n
</span><span class="auto-style5">&nbsp;u </span><span class="auto-style6">&nbsp;e
</span>.......</strong></em><p class="auto-style1"><strong><em>
<span class="auto-style2">Login a an admin::</span></em></strong><input checked="false" name="Radio1" type="radio" value="V1"><form method="post">

<p class="auto-style1"><span class="auto-style2"><strong><em>&nbsp;&nbsp; Login as a user::</em></strong></span><strong><em><input checked="false" name="Radio1" type="radio" value="V2" class="auto-style4"></em></strong></p>
<input name="Submit1" style="width: 152px; height: 50px" type="submit" value="submit">
</center>
 </form>
</html>