<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<img src="{{url_for('static', filename='lib.jpg')}}" />
<meta content="en-gb" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Add a book</title>
<style type="text/css">
.auto-style1 {
	font-size: xx-large;
}
.auto-style2 {
	text-align: center;
}
.auto-style10 {
	background-color: #FF00FF;
}
.auto-style11 {
	background-color: #FFFF00;
}
.auto-style12 {
	margin-left: 0px;
}
</style>
</head>

<body>
<form action = "{{ url_for('issue') }}" method = "POST">
<p class="auto-style2">
<form class="auto-style1" method="post">
	<div class="auto-style2">
		<label id="Label1"><strong><span class="auto-style10">I</span><span class="auto-style11">s</span><span class="auto-style10">s</span><span class="auto-style11">u</span><span class="auto-style10">e</span>
		<span class="auto-style11">a</span> <span class="auto-style10">b</span><span class="auto-style11">o</span><span class="auto-style10">o</span><span class="auto-style11">k</span></strong></label></div>
<
<p><em><strong>
</strong></em><label id="Label3">
<center>
Book ID:</label><input name="S_ID" type="text" /><form method="post">
	<p>Student:<input name="B_ID" type="text" /></p>
<label id="S_ID">name="Submit1"
	type="submit" value="submit" />
</form>
</p>

</body>

</html>
