<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-gb" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Add a book</title>
<style type="text/css">
.auto-style1 {
	font-size: xx-large;
}
.auto-style2 {
	text-align: center;
}
.auto-style10 {
	background-color: #FF00FF;
}
.auto-style11 {
	background-color: #FFFF00;
}
.auto-style12 {
	margin-left: 0px;
}
</style>
</head>

<form>

<p class="auto-style2">
<img alt="" height="197" src="Random%20Files/mriu%204.jpg" width="800" /></p>
<form class="auto-style1" method="post">
	<div class="auto-style2">
		<span class="auto-style10">R</span><span class="auto-style11">e</span><span class="auto-style10">t</span><span class="auto-style11">u</span><span class="auto-style10">r</span><span class="auto-style11">n</span>
		<label id="Label1"><strong><span class="auto-style11">a</span> <span class="auto-style10">b</span><span class="auto-style11">o</span><span class="auto-style10">o</span><span class="auto-style11">k</span></strong></label></div>
</form>
<center>
</strong></em><label id="Label3"> 
Book ID:</label><input name="Text1" type="text" /><form method="post">
<p>Student ID:<input name="Text2" type="text" /></p>
<p><input class="auto-style12" name="Submit1" style="width: 215px" type="submit" value="submit" /></p>
<p></p>
<p><label id="Label2"></label><p><em><strong></form>
<form method="post">
</form>
</p>
</center>
</form>
</body>
</html>
