<html>
<head><img src="{{url_for('static', filename='lib.jpg')}}" />
<meta content="en-gb" http-equiv="Content-Language">
<style type="text/css">
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	font-size: x-large;
}
.auto-style3 {
	font-size: large;
}
.auto-style4 {
	background-color: #9F00FF;
}
.auto-style5 {
	background-color: #FFFF00;
}
.auto-style6 {
	background-color: #FFFFFF;
}
</style>
</head>
<form action = "{{ url_for('userView') }}" method = "POST">

<div class="auto-style1">
	<br><br><span class="auto-style2"><strong><span class="auto-style4">&nbsp;W
	</span><span class="auto-style5">&nbsp;h </span><span class="auto-style4">&nbsp;a
	</span><span class="auto-style5">&nbsp;t </span>&nbsp;<span class="auto-style6">
	</span><span class="auto-style4">&nbsp;d </span><span class="auto-style5">&nbsp;o 
	</span>&nbsp;<span class="auto-style4">&nbsp; y </span>
	<span class="auto-style5">&nbsp;o </span><span class="auto-style4">&nbsp;u&nbsp;
	</span>&nbsp;<span class="auto-style4"> w </span><span class="auto-style5">&nbsp;a
	</span><span class="auto-style4">&nbsp;n </span><span class="auto-style5">&nbsp;t 
	</span>&nbsp;<span class="auto-style6"> </span><span class="auto-style4">&nbsp;t
	</span><span class="auto-style5">&nbsp;o </span>&nbsp;<span class="auto-style6">
	</span><span class="auto-style4">&nbsp;d </span><span class="auto-style5">&nbsp;o
	</span>&nbsp;<span class="auto-style6"> </span><span class="auto-style4">&nbsp;u
	</span><span class="auto-style5">&nbsp;s </span><span class="auto-style4">&nbsp;e
	</span><span class="auto-style5">&nbsp;r </span>.........</strong></span>
	<br>
	<strong><span class="auto-style3"><br>&nbsp;&nbsp;&nbsp; 
		Issue Books::<input checked="false" name="R" type="radio" value="V1"><br>
		ReturnBooks::<input checked="false" name="R" type="radio" value="V2"></span><br class="auto-style3">
	<span class="auto-style3">
		Search Books::<input checked="false" name="R" type="radio" value="V3"></span><br class="auto-style3">
	<span class="auto-style3">&nbsp;</span></strong></div>
<center>
	<input name="Submit1" style="width: 152px; height: 50px" type="submit" value="submit">
</center>
</form>
</html>>
